@media screen and (max-width: 991px) {
    .navbar-collapse.collapse, .primary-navigation .nav.stacked-menu>li.item-more {
        display: none !important;
    }

    .navbar-collapse.collapse.in, .navbar-toggle {
        display: block !important;
    }

    .primary-navigation .nav>li {
        padding: 0px;
        width: 100%;
    }

    /*for hamburger-menu effects close icon effects*/
    .navbar-default .navbar-toggle span {
        transition: .25s ease-in-out;
    }

    .navbar-default .navbar-toggle[aria-expanded="true"] span.icon-bar:nth-child(2) {
        transform: rotate(-45deg) translate(-4px, 4px);        
    }

    .navbar-default .navbar-toggle[aria-expanded="true"] span.icon-bar:nth-child(3) {
        opacity: 0;
    }

    .navbar-default .navbar-toggle[aria-expanded="true"] span.icon-bar:nth-child(4) {
        transform: rotate(45deg) translate(-4px, -4px);
    }

    /*to align the menu items left / center, align-items can be changed*/
    .primary-navigation .nav.stacked-menu .hidden-menu {
        display: block;
    }
    
    /*multi-level element*/
    .primary-navigation .nav>li.open>.dropdown-menu {
        position: static;
        width: 100%;
    }

}
